<span class="lg:w-[55%]"></span> <!-- the if statement around the 55% width below messes up tailwind, so we force include it here --!>
<div id="modal-login" class="modal">
    <div class="row items-stretch relative mx-auto w-11/12 sm:w-4/5 lg:w-1/2">
        {{ $hasTwoCards := 0 }}
        {{ if index . "LoginMessageEnabled" }}
            {{ if .LoginMessageEnabled }}
                {{ $hasTwoCards = 1 }}
                <div class="card mx-2 flex-initial w-full mb-4 lg:mb-0 content">
                    {{ .LoginMessageContent }}
                </div>
            {{ end }}
        {{ end }}
        {{ if index . "userPageEnabled" }}
            {{ if and .userPageEnabled .showUserPageLink }}
                {{ $hasTwoCards = 1 }}
                <div id="user-button" class="card mx-2 w-full mb-4 lg:mb-0 content">
                    <a class="button emby-button h-12 w-full" href="{{ .urlBase }}/my/account"><i class="ri-account-circle-fill mr-2"></i>{{ .strings.myAccount }}</a>
                </div>
                <button id="unhide-login" class="button emby-button hidden">
                    Unhide Login
                </button>
            {{ end }}
        {{ end }}
        <form id="login-form" class="card mx-2 form-login w-full hidden {{ if eq $hasTwoCards 1 }}lg:w-[55%]{{ end }} mb-0" href=""> 
            <span class="heading">{{ .strings.login }}</span>
            <input type="text" class="field input mt-4 mb-2" placeholder="{{ .strings.username }}" id="login-user">
            <input type="password" class="field input mb-4" placeholder="{{ .strings.password }}" id="login-password">
            <label>
                <input type="submit" class="unfocused">
                <span class="button emby-button button-submit full-width center submit">{{ .strings.login }}</span>
                {{ if index . "pwrEnabled" }}
                    {{ if .pwrEnabled }}
                        <span class="button emby-button full-width center submit my-2" id="modal-login-pwr">{{ .strings.resetPassword }}</span>
                    {{ end }}
                {{ end }}
            </label>
        </form>
    </div>
</div>
